#rl{
    float:right;
    font-size:16pt;
    
}
#logged {
    float:right;
}
#lpage {
    text-align:center;
    
    padding-top:10%;
    padding-bottom: 10%;
}
#signup {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
img {
    padding-top:10px;
    padding-bottom: 30px;
    height: 250px;
}
#icontainer {
  text-align: center;
}
#bob {
    float:right;
}
